# ignore folder all
.idea
*/.idea/*
.vscode
*/.vscode/*
target
*/target/*
logs
*/logs/*
.mtj.tmp
*/.mtj.tmp/*
my
*/my/*
uploads
*/uploads/*
.settings
*/.settings/*
node_modules
*/node_modules/*
code-generator
*/code-generator/*
coverage
*/coverage/*
build
*/build/*
dist
*/dist/*

# ignore file all

*.classpath
*/*.classpath
*.class
*/*.class
*.log
*.log*
*/*.log
*/*.log*
*.ctxt
*/*.ctxt
*.sh
*/*.sh
*.bat
*/*.bat
*.dll
*/*.dll
*.war
*/*.war
*.nar
*/*.nar
*.ear
*/*.ear
*.zip
*/*.zip
*.tar.gz
*/*.tar.gz
*.rar
*/*.rar
*.ipr
*/*.ipr
*.imp
*/*.imp
*.iws
*/*.iws
*.iml
*/*.iml
*.pdb
*/*.pdb
*.project
*/*.project
*.dbg.json
*/*.dbg.json

*/.pnp
*/*/.pnp
*.pnp.js
*/*.pnp.js
.DS_Store
.env
*/.env
.env*
*/.env*

*rebel.xml
*/*rebel.xml
*rebel.xml.bak
*/*rebel.xml.bak
*hs_err_pid*
yarn.lock
stats.html
pnpm-lock.yaml
package-lock.json
*.pem
