shamefully-hoist=true
auto-install-peers=true
strict-peer-dependencies=false
shell-emulator=true
recursive-install=false
git-checks=false
//registry.npmjs.org/:_authToken=${process.env.NPM_TOKEN}
@octocat:registry=https://registry.npmjs.org/