shamefully-hoist=true
auto-install-peers=true
strict-peer-dependencies=false
shell-emulator=true
recursive-install=false
git-checks=false
@cd_vuejs3:registry=https://registry.npmjs.org
always-auth=true