## OS
.DS_Store
.idea
.editorconfig
pnpm-lock.yaml
.npmrc
node_modules

# Ignored suffix
*.log
*.md
*.svg
*.png
*.ico
*ignore
LICENSE
.env*
## Local
test
.husky
.github

## Built-files
.cache
dist
dist-ssr
template
*.local

*auto-imports.d.ts
*components.d.ts